/** GRID SYSTEM **/
/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin: 0 auto;
  width: 90%;
  max-width: 1040px; }

[class^="col-"] {
  float: left;
  list-style: none;
  position: relative;
  width: 100%; }

@media (min-width: 40rem) {
  .col-1 {
    width: 12.5%; }
  .col-2 {
    width: 25%; }
  .col-3 {
    width: 37.5%; }
  .col-4 {
    width: 50%; }
  .col-5 {
    width: 62.5%; }
  .col-6 {
    width: 75%; }
  .col-7 {
    width: 87.5%; }
  .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%; }
  .offset-1 {
    margin-left: 12.5%; }
  .offset-2 {
    margin-left: 25%; }
  .offset-3 {
    margin-left: 37.5%; }
  .offset-4 {
    margin-left: 50%; }
  .offset-5 {
    margin-left: 62.5%; }
  .offset-6 {
    margin-left: 75%; }
  .offset-7 {
    margin-left: 87.5%; } }

@media (min-width: 64rem) {
  .col-1 {
    width: 8.3333333333%; }
  .col-2 {
    width: 16.6666666667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3333333333%; }
  .col-5 {
    width: 41.6666666667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.3333333333%; }
  .col-8 {
    width: 66.6666666667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.3333333333%; }
  .col-11 {
    width: 91.6666666667%; }
  .col-12 {
    width: 100%; }
  .offset-1 {
    margin-left: 8.3333333333%; }
  .offset-2 {
    margin-left: 16.6666666667%; }
  .offset-3 {
    margin-left: 25%; }
  .offset-4 {
    margin-left: 33.3333333333%; }
  .offset-5 {
    margin-left: 41.6666666667%; }
  .offset-6 {
    margin-left: 50%; }
  .offset-7 {
    margin-left: 58.3333333333%; }
  .offset-8 {
    margin-left: 66.6666666667%; }
  .offset-9 {
    margin-left: 75%; }
  .offset-10 {
    margin-left: 83.3333333333%; }
  .offset-11 {
    margin-left: 91.6666666667%; }
  .offset-12 {
    margin-left: 100%; } }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row {
  zoom: 1; }

body {
  margin: 0;
  padding: 0;
  /* margin: 1% 2% 1% 2%; */
  margin: 1% 2%;
  color: #585858;
  font-family: Arial, sans-serif;
  font-size: 14px; }

a {
  text-decoration: none;
  color: #585858; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }
    ul li a {
      display: inline-block;
      width: 100%;
      padding: 10px 0; }
  ul li:hover, ul li.active {
    background-color: white; }

span.number, .section-title {
  font-family: "Times New Roman", Georgia, Serif; }

/* HOME */
#home {
  display: none;
  height: 88%;
  position: relative; }
  #home .logo {
    position: fixed;
    width: 100%;
    z-index: 200;
    background-color: white;
    height: 90px; }
    #home .logo img {
      display: block;
      margin: 0 auto;
      height: 100%; }
  #home .banner {
    position: fixed;
    background-image: url("/img/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    width: 96%;
    height: 96%; }
  #home .menu {
    position: relative;
    top: 106%; }
    #home .menu .menu-puller {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid rgba(255, 255, 255, 0.5);
      margin: 0 auto;
      cursor: pointer; }
    #home .menu .menu-container {
      background-color: rgba(255, 255, 255, 0.5);
      height: 100%;
      width: 100%; }
      #home .menu .menu-container ul {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #home .menu .menu-container ul li a span {
          display: inline-block; }
        #home .menu .menu-container ul li a span.pt {
          width: 45%;
          text-align: right;
          text-transform: uppercase; }
        #home .menu .menu-container ul li a span.number {
          width: 8%;
          text-align: center;
          font-size: 2rem;
          color: gray; }
        #home .menu .menu-container ul li a span.en {
          width: 45%;
          text-align: left;
          text-transform: uppercase; }
        #home .menu .menu-container ul li:hover {
          background-color: rgba(255, 255, 255, 0.8); }
          #home .menu .menu-container ul li:hover span, #home .menu .menu-container ul li:hover span.number {
            color: orange; }

/* HOME */
/* PAGES */
.page .logo {
  width: 100%;
  height: 90px;
  margin-bottom: 10px; }
  .page .logo img {
    display: block;
    margin: 0 auto;
    height: 100%; }

.page .banner {
  height: 250px;
  background-image: url("/img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646; }

.page .menu {
  text-transform: uppercase;
  background-color: #f9f9f9;
  height: 100%; }
  .page .menu ul {
    padding-top: 5px; }
    .page .menu ul li {
      padding: 0px 30px; }
      .page .menu ul li a span {
        display: block; }
      .page .menu ul li a span.en {
        color: #949494; }

.page .content {
  position: relative;
  height: 100%; }
  .page .content .section-title h1 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 0;
    text-transform: uppercase; }
  .page .content .section-title h1.pt {
    color: #585858; }
  .page .content .section-title h1.en {
    margin-left: 10px;
    color: #d1c2b0; }
  .page .content .section-content .en {
    color: #949494; }
  .page .content .footer {
    bottom: 0; }
    .page .content .footer .left span {
      float: left; }
    .page .content .footer .right span {
      float: right; }
