/* VARIABLES */

$breakpoint: 40rem;

$primary-color: #585858; //gray
$secondary-color: #d1c2b0; //orange
$page-menu-color: #f9f9f9;

$text-dark: #585858;
$text-light: #949494;

$header-font: CalendasPlus, Times, serif;
$menu-font: Verdana, Geneva, sans-serif;
$main-font: Arial, Helvetica, sans-serif;

/* FONTS */

@font-face {
    font-family: CalendasPlus;
    src: url(../fonts/Calendas_Plus.otf) format("opentype");;
}

/* ELEMENTS */

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: none;
	margin: 0;
	font-family: $main-font;
	font-size: 13px;
}

/* ELEMENTS */

/* HEADER */

header {

	.row {
		margin: 0;
		width: 100%;
	}
	.logo {
		float: left;
		padding-left: 5%;
		img.web {
			display: none;
		}
		img.mobile {
			display: block;
		}
	}

	.toggle-nav {
		float: right;
		font-size: 33px;
		height: 74px;
		width: 74px;

		a {
			line-height: 74px;
			background-color: $page-menu-color;
			height: 100%;
			display: block;
			margin: 0 auto;
			text-align: center;
			color: $text-dark;
		}
	}

	nav.nav-closed {
		display: none;
	}

	nav.nav-open {
		display: block;
		width: 100%;
	}

	nav.nav-menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				width: 100%;
				text-align: center;
			}

			li a{
				display: inline-block;
				width: 100%;
				padding: 20px 0;
				text-decoration: none;

				-webkit-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				

				span.en {
					color: $text-light;
				}

				span.pt {
					color: $text-dark;
				}
			}

			li a:hover {
				background-color: $page-menu-color;
			}
		}
	}
}


@media (min-width: $breakpoint) {

header {
	padding-top: 10px;
  	padding-bottom: 5px;

	.row {
		margin: 0 auto;
    	width: 90%;
	}

	.logo {
		width: 100%;
		padding:0;

		img.web {
			display: block;
			margin: 0 auto;
		}

		img.mobile {
			display: none;
		}
	}

	nav.nav-menu, nav.nav-open, nav.nav-closed, .toggle-nav {
		display: none !important;
	}
}

}

/* HEADER */


/* HOME */

#home-menu {
	display: none;
}

#home-banner {
	position: relative;
	height: 500px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

#home-background {
	position: absolute;
	height: 100%;
	width: 100%;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
	}

	img:first-child {
		display: block;
	}
}

#home-footer {
	width: 100%;
	background-color: white;
	height: 3%;
	bottom: 0;
}


@media (min-width: $breakpoint) {

#home-header {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index:1000;
}

#home-banner {
}


span.number {
	font-family: "Times New Roman", Times, Serif;
}


#home-menu {
	z-index: 1000;
	position: relative;
	top: 90%;
	display: block;
	height: 100%;
	width: 100%;

	.menu-puller {
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid rgba(255,255,255,0.7);
		margin: 0 auto;
		cursor: pointer;
	}

	.menu-container{
		background-color: rgba(255,255,255,0.7);
		height: 100%;
		width: 100%;

		ul.menu {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			top: 45%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

			ul.submenu {
				list-style: none;
				padding: 0;
			}

			li a {
				display: inline-block;
				width: 100%;
				padding: 10px 0;
				text-decoration: none;
				color: $text-dark;

				-webkit-transition: all .2s ease-in;
				-o-transition: all .2s ease-in;
				transition: all .2s ease-in;

				span {
					display: inline-block;
				}

				span.pt {
					width: 45%;
					text-align: right;
					text-transform: uppercase;
				}

				span.number {
					width: 8%;
					text-align: center;
					font-size: 2rem;
					color: gray;
				}

				span.en {
					width: 45%;
					text-align: left;
					text-transform: uppercase;
				}
			}

			a:hover {
				background-color: rgba(255,255,255,0.8);

				span, span.number {
					color: $secondary-color;
				}
			}
		}
	}	
}

}

/* HOME */

/* PAGES */

.banner-page {
	margin: 0;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
	height: 250px;

	.overlay {
		background-color: rgba(255,255,255,0.5);
		height: 100%;
		width: 25px;
	}
}

#awards-banner {
	background-image: url('../img/bg2.jpg');
}
#bottle-banner {
	background-image: url('../img/bg3.jpg');
}
#contacts-banner {
	background-image: url('../img/bg4.jpg');
}
#farm-banner {
	background-image: url('../img/bg5.jpg');
}
#news-banner {
	background-image: url('../img/bg6.jpg');
}
#special-edition-banner {
	background-image: url('../img/bg7.jpg');
}

.page-menu {
	display: none;
}

.submenu {
	display: none;
}

@media (min-width: $breakpoint) {

.banner-page {
	margin: 0 auto;
	width: 90%;

	.overlay {
		background-color: rgba(255,255,255,0.5);
		height: 25px;
		width: 100%;
	}
}

.main-container {
	background-color: $page-menu-color;
}

.page-menu {
	display: block;
	background-color: $page-menu-color;
	height: 100%;
	font-family: $menu-font;
	font-size: 13px;

	.submenu {
		padding-top:0 !important;

		li a {
			padding-left: 50px !important;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		padding-top: 10px;
		list-style: none;
		text-transform: uppercase;

		li.change-lang {
			display: none;
		}

		li a {
			text-decoration: none;
			display: inline-block;
			width: 100%;
			padding: 15px 30px 15px 30px;

			-webkit-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
		}

		li span {
			display: block
		}

		li span.pt {
			color: $text-dark;
		}

		li span.en{
			color: $text-light;
		}

		li a:hover, li a.active {
			background-color: rgba(255,255,255,1);
		}
	}
}

}


.page-container {
	background-color: white;
}

.page-title {

	margin-top: 30px;
	margin-bottom: 10px;

	h1 {
		font-family: $header-font;
		text-transform: uppercase;
		font-size: 38px;
		display: inline-block;
		margin:0;
	}

	h1.pt {
		margin-right: 5px;
	}

	h1.en {
		color: $secondary-color;
	}

}

.page-content {
	a {
		text-decoration: none;
		color: $secondary-color;
	}

	h3 {
		text-transform: uppercase;
		font-family: $header-font;
	}
}

.page-column {
	padding-right: 3.5%;
}

.page-column-last {
	padding-right: 0;
}

.page-column.pt {
	color: $text-dark;
}

.page-column.en {
	color: $text-light;
}

.page-side {
	img {
		width: 100%;
	}
}

.news{
	margin-bottom: 50px;
}

.news-details {
	margin-bottom: 0;
}

.news-title {
	font-size: 20px;
	margin: 10px 0;
}

.news-text {
	margin-top: 0;
	height: 100px;
}

.news-read-less {
	display: none;
}

.videos {
	background-color: $page-menu-color;
	padding: 15px 15px 0px 15px;

	img {
		padding-bottom: 10px;
		width: 100%;
	}
}

.quote {
	font-family: $header-font;
	font-style: italic;
	font-size: 17px;
}

.quote.pt {
	color: $text-light;
}

.quote.en {
	color: $secondary-color;
}

.button {
	background-color: $text-light;
	color: white !important;
	padding: 10px 40px 10px 20px;
	font-weight: bold;

	i {
		padding-right: 10px;
		margin-right: 10px;
		border-right: 2px solid white;
	}
}

.footer {
	margin-top: 150px;
	margin-right: 0;
	margin-bottom: 10px;
  	width: 95%;

  	text-transform: uppercase;
  	font-size: 0.6rem;
  	color: $text-light;

  	.left, .right {
  		height: 25px;
  		line-height: 25px;
  	}

  	.right {
  		text-align: right;
  	}

  	img {
  		vertical-align: middle;
  	}
}