/** GRID SYSTEM **/
/*
* Small screens (default)
* Medium screens (640px = 40rem)
* Large screens (1024px = 64rem)
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin: 0 auto;
  width: 90%;
  max-width: 1214px; }

[class^="col-"] {
  float: left;
  list-style: none;
  position: relative;
  width: 100%; }

/*
@media (min-width: 40rem) {
    .col-1 { width: 12.5%; }
    .col-2 { width: 25%; }
    .col-3 { width: 37.5%; }
    .col-4 { width: 50%; }
    .col-5 { width: 62.5%; }
    .col-6 { width: 75%; }
    .col-7 { width: 87.5% }
    .col-8, .col-9, .col-10, .col-11, .col-12 { 
        width: 100%
    }

    .offset-1 { margin-left: 12.5%; }
    .offset-2 { margin-left: 25%; }
    .offset-3 { margin-left: 37.5%; }
    .offset-4 { margin-left: 50%; }
    .offset-5 { margin-left: 62.5%; }
    .offset-6 { margin-left: 75%; }
    .offset-7 { margin-left: 87.5% }
}
*/
@media (min-width: 40rem) {
  .col-1 {
    width: 8.3333333333%; }
  .col-2 {
    width: 16.6666666667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3333333333%; }
  .col-5 {
    width: 41.6666666667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.3333333333%; }
  .col-8 {
    width: 66.6666666667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.3333333333%; }
  .col-11 {
    width: 91.6666666667%; }
  .col-12 {
    width: 100%; }
  .offset-1 {
    margin-left: 8.3333333333%; }
  .offset-2 {
    margin-left: 16.6666666667%; }
  .offset-3 {
    margin-left: 25%; }
  .offset-4 {
    margin-left: 33.3333333333%; }
  .offset-5 {
    margin-left: 41.6666666667%; }
  .offset-6 {
    margin-left: 50%; }
  .offset-7 {
    margin-left: 58.3333333333%; }
  .offset-8 {
    margin-left: 66.6666666667%; }
  .offset-9 {
    margin-left: 75%; }
  .offset-10 {
    margin-left: 83.3333333333%; }
  .offset-11 {
    margin-left: 91.6666666667%; }
  .offset-12 {
    margin-left: 100%; } }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row {
  zoom: 1; }

/* ELEMENTS */
body {
  display: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

@media (min-width: 40rem) {
  body {
    margin: 20px 0; } }

/* ELEMENTS */
/* HEADER */
header .row {
  margin: 0;
  width: 100%; }

header .logo {
  float: left;
  padding-left: 5%; }

header .toggle-nav {
  float: right;
  font-size: 33px;
  height: 100px;
  width: 100px; }
  header .toggle-nav a {
    background-color: #f9f9f9;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 31px 0;
    text-align: center;
    color: #585858; }

header nav.nav-closed {
  display: none; }

header nav.nav-open {
  display: block;
  width: 100%; }

header nav.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  header nav.nav-menu ul li {
    width: 100%;
    text-align: center; }
  header nav.nav-menu ul li a {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-decoration: none; }
    header nav.nav-menu ul li a span.en {
      color: #949494; }
    header nav.nav-menu ul li a span.pt {
      color: #585858; }
  header nav.nav-menu ul li a:hover {
    background-color: #f9f9f9; }

@media (min-width: 40rem) {
  header {
    padding-bottom: 15px; }
    header .row {
      margin: 0 auto;
      width: 90%; }
    header .logo {
      width: 100%; }
      header .logo img {
        display: block;
        margin: 0 auto; }
    header nav.nav-menu, header nav.nav-open, header nav.nav-closed, header .toggle-nav {
      display: none !important; } }

/* HEADER */
/* HOME */
#home-menu {
  display: none; }

#home-banner {
  position: fixed;
  background-image: url("../img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 1214px; }

#home-footer {
  width: 100%;
  background-color: white;
  height: 3%;
  position: fixed;
  bottom: 0; }

@media (min-width: 40rem) {
  #home-header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000; }
  #home-banner {
    margin: 0 5%;
    width: 90%; }
  span.number, .section-title {
    font-family: "Times New Roman", Georgia, Serif; }
  #home-menu {
    display: block;
    position: absolute;
    top: 90%;
    height: 83%;
    margin: 0 5%;
    width: 90%;
    max-width: 1214px; }
    #home-menu .menu-puller {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid rgba(255, 255, 255, 0.5);
      margin: 0 auto;
      cursor: pointer; }
    #home-menu .menu-container {
      background-color: rgba(255, 255, 255, 0.5);
      height: 100%;
      width: 100%; }
      #home-menu .menu-container ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        top: 45%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        #home-menu .menu-container ul li a {
          display: inline-block;
          width: 100%;
          padding: 10px 0;
          text-decoration: none;
          color: #585858; }
          #home-menu .menu-container ul li a span {
            display: inline-block; }
          #home-menu .menu-container ul li a span.pt {
            width: 45%;
            text-align: right;
            text-transform: uppercase; }
          #home-menu .menu-container ul li a span.number {
            width: 8%;
            text-align: center;
            font-size: 2rem;
            color: gray; }
          #home-menu .menu-container ul li a span.en {
            width: 45%;
            text-align: left;
            text-transform: uppercase; }
        #home-menu .menu-container ul li:hover {
          background-color: rgba(255, 255, 255, 0.8); }
          #home-menu .menu-container ul li:hover span, #home-menu .menu-container ul li:hover span.number {
            color: #d1c2b0; } }

/* HOME */
/* PAGES */
.banner-page {
  margin: 0;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  height: 250px; }

#farm-banner {
  background-image: url("../img/bg.png"); }

.page-menu {
  display: none; }

@media (min-width: 40rem) {
  .banner-page {
    margin: 0 5%;
    width: 90%;
    margin-top: 15px; }
  .main-container {
    background-color: #f9f9f9; }
  .page-menu {
    display: block;
    background-color: #f9f9f9;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px; }
    .page-menu ul {
      margin: 0;
      padding: 0;
      padding-top: 10px;
      list-style: none;
      text-transform: uppercase; }
      .page-menu ul li a {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        padding: 15px 0px 15px 30px; }
      .page-menu ul li span {
        display: block; }
      .page-menu ul li span.pt {
        color: #585858; }
      .page-menu ul li span.en {
        color: #949494; }
      .page-menu ul li:hover, .page-menu ul li.active {
        background-color: white; } }

.page-container {
  background-color: white; }

.page-title {
  margin-top: 30px;
  margin-bottom: 10px; }
  .page-title h1 {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-size: 38px;
    display: inline-block;
    margin: 0; }
  .page-title h1.pt {
    margin-right: 5px; }
  .page-title h1.en {
    color: #d1c2b0; }

.page-content a {
  text-decoration: none;
  color: #d1c2b0; }

.page-content h3 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif; }

.page-column {
  padding-right: 3.5%; }

.page-column-last {
  padding-right: 0; }

.page-column.pt {
  color: #585858; }

.page-column.en {
  color: #949494; }

.page-side img {
  width: 100%; }

.footer {
  margin-top: 150px;
  margin-right: 0;
  width: 95%;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #949494; }

.right {
  float: right; }
