$primary-color: #585858; //gray
$secondary-color: #d1c2b0; //orange
$page-menu-color: #f9f9f9;

$text-dark: #585858;
$text-light: #949494;

$header-font: "Times New Roman", Times, serif;
$menu-font: Verdana, Geneva, sans-serif;
$main-font: Arial, Helvetica, sans-serif;

body {
	margin: 20px 0;
	font-family: $main-font;
	font-size: 13px;
}

/*
header {

	.logo {
		background-color: red;
		height: 100px;
		display: inline-block;

		img {
			width: 100%;
		}
	}

	.toggle-nav {
		display: inline-block;
		background-color: orange;

		a {
			display: block;
			text-align: right;
		}
	}

	.toggle-nav:after {
		clear: both;
	}

	nav.nav-closed {
		display: none;
	}

	nav.nav-open {
		display: block;
		width: 100%;
	}

	nav.nav-menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				width: 100%;
				text-align: center;
			}

			li a{
				display: inline-block;
				width: 100%;
				padding: 10px 0;
				text-decoration: none;
			}

			li a:hover {
				background-color: red;
			}

		}
	}
}
*/

#home-header {
	background-color: white;
	position: fixed;
	width: 100%;
	z-index:1000;
	padding-bottom: 15px;
}

#home-banner {
	position: fixed;

	background-image: url('../img/bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	
	height: 100%;

	margin: 0 5%;
	width: 90%;
    max-width: 1214px;

}

span.number, .section-title {
	font-family: "Times New Roman", Georgia, Serif;
}


#home-menu {
	position: absolute;
	top: 90%;
	height: 83%;

	margin: 0 5%;
	width: 90%;
    max-width: 1214px;

	.menu-puller {
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid rgba(255,255,255,0.5);
		margin: 0 auto;
		cursor: pointer;
	}

	.menu-container{
		background-color: rgba(255,255,255,0.5);
		height: 100%;
		width: 100%;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			top: 45%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

			li a {
				display: inline-block;
				width: 100%;
				padding: 10px 0;
				text-decoration: none;
				color: $text-dark;

				span {
					display: inline-block;
				}

				span.pt {
					width: 45%;
					text-align: right;
					text-transform: uppercase;
				}

				span.number {
					width: 8%;
					text-align: center;
					font-size: 2rem;
					color: gray;
				}

				span.en {
					width: 45%;
					text-align: left;
					text-transform: uppercase;
				}
			}

			li:hover {
				background-color: rgba(255,255,255,0.8);

				span, span.number {
					color: $secondary-color;
				}
			}
		}
	}	
}




#home-footer {
	width: 100%;
	background-color: white;
	height: 3%;
	position: fixed;
	bottom: 0;
}

/*
#home-menu {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	.menu-puller {
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid rgba(255,255,255,0.5);
		margin: 0 auto;
		cursor: pointer;
	}

	.menu-container{
		background-color: rgba(255,255,255,0.5);
		height: 100%;
		width: 100%;

		ul {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

			li a {
				span {
					display: inline-block;
				}

				span.pt {
					width: 45%;
					text-align: right;
					text-transform: uppercase;
				}

				span.number {
					width: 8%;
					text-align: center;
					font-size: 2rem;
					color: gray;
				}

				span.en {
					width: 45%;
					text-align: left;
					text-transform: uppercase;
				}
			}

			li:hover {
				background-color: rgba(255,255,255,0.8);

				span, span.number {
					color: $secondary-color;
				}
			}
		}
	}	
}


*/



header {
	.logo img{
		display: block;
		margin: 0 auto;
	}

	nav, .toggle-nav {
		display: none;
	}
}




.banner-page {
	margin-top: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
	height: 250px;
}

#farm-banner {
	background-image: url('../img/bg.png');
}

.main-container {
	background-color: $page-menu-color;
}

.page-menu {
	background-color: $page-menu-color;
	height: 100%;
	font-family: $menu-font;
	font-size: 13px;

	ul {
		margin: 0;
		padding: 0;
		padding-top: 10px;
		list-style: none;
		text-transform: uppercase;

		li a {
			text-decoration: none;
			display: inline-block;
			width: 100%;
			padding: 15px 0px 15px 30px;
		}

		li span {
			display: block
		}

		li span.pt {
			color: $text-dark;
		}

		li span.en{
			color: $text-light;
		}

		li:hover, li.active {
			background-color: rgba(255,255,255,1);
		}
	}
}

.page-container {
	background-color: white;
}

.page-title {

	margin-top: 30px;
	margin-bottom: 10px;

	h1 {
		font-family: $header-font;
		text-transform: uppercase;
		font-size: 38px;
		display: inline-block;
		margin:0;
	}

	h1.pt {
		margin-right: 5px;
	}

	h1.en {
		color: $secondary-color;
	}

}

.page-content {
	a {
		text-decoration: none;
		color: $secondary-color;
	}

	h3 {
		text-transform: uppercase;
		font-family: $header-font;
	}
}

.page-column {
	padding-right: 3.5%;
}

.page-column-last {
	padding-right: 0;
}

.page-column.pt {
	color: $text-dark;
}

.page-column.en {
	color: $text-light;
}

.page-side {
	img {
		width: 100%;
	}
}

.footer {
	margin-top: 150px;
	margin-right: 0;
  	width: 95%;

  	text-transform: uppercase;
  	font-size: 0.6rem;
  	color: $text-light;
}

.right {
	float: right;	
}