@@include('./partials/_head.html')

<body>

  <!--Header-->
  <header class="page-header">
    @@include('./partials/_header.html')
  </header>

  <!--Banner-->
  <div class="row banner-page" id="farm-banner">
    <div class="overlay"></div>
  </div>

  <!--Container-->
  <div class="row main-container">

  <!-- Menu-->
    <div class="col-3 page-menu">
      @@include('./partials/_menu.html', {
        "farm": "active",
        "bottle": "",
        "special": "",
        "awards": "",
        "news": "",
        "contacts": ""
      })
    </div>

  <!--Page Container-->
    <div class="col-9 page-container">

  <!--Page Title-->
      <div class="row page-title">
        <div class="col-12">
          <h1 class="pt">A Quinta</h1>
          <h1 class="en">The Farm</h1>
        </div>
      </div>

  <!--Page Content-->
      <div class="row page-content">

  <!--Page Content Text-->
        <div class="col-10">
            <div class="col-6 page-column pt">
              <p>As nossas raízes têm para nós um grande valor.</p>
              <p>Sabemos que o Azeite Quinta Vale do Conde que hoje produzimos é fruto do legado que a minha família nos deixou.</p>
              <p>Temos um Compromisso com esta Terra.</p>
              <p>O Olival centenário e a experiência de muitas gerações dedicadas ao azeite e às terras de São Pedro Vale do Conde, um lugar privilegiado dentro da região DOP Trás-os-Montes, permitem produzir este Azeite Virgem Extra de aromas intensos, sabor frutado e extrema complexidade, cuja qualidade tem sido destacada pelos mais prestigiados especialistas.</p>
            </div>
            <div class="col-6 page-column en">
              <p>Our roots have great value to us.</p>
              <p>We know that the Olive Oil Quinta Vale do Conde that we produce nowadays is the result of the legacy that my family has left us.</p>
              <p>We have a Commitment to this Land.</p>
              <p>The centenary olive grove and the experience of many generations dedicated to olive oil and the lands of São Pedro de Vale do Conde, a priviledged place within the PDO region of Trás-os-Montes, allow the production of this Extra Virgin Olive Oil of intense aromas, fruity flavor and extreme complexity, whose quality has been highlighted by the most prestigious experts.</p>
            </div>
        </div>
 <!--Page Content Images-->
        <div class="col-2 page-side">
        </div>

      </div>
      @@include('./partials/_footer.html')
    </div>
  </div>
  @@include('./partials/_scripts.html')
</body>
</html>