<ul class="menu">
	<li class="change-lang">
		<a class="change-pt" href="javascript:void(0)">PT</a>
		<a class="change-en"href="javascript:void(0)">EN</a>
	</li>
	<li>
		<a class="transition @@farm" href="farm.html">
			<span class="pt">A Quinta</span>
			<span class="en">The Farm</span>
		</a>
	</li>
	<li>
		<a class="toggle-submenu" href="javascript:void(0)">
			<span class="pt">O Azeite QVC</span>
			<span class="en">The QVC Olive Oil</span>
		</a>
		<ul class="submenu">
			<li>
				<a class="transition @@bottle" href="bottle.html">
					<span class="pt">Garrafa Dorica 500 ml</span>
					<span class="en">Dorica 500 ml Bottle</span>
				</a>
			</li>
			<li>
				<a class="transition @@special" href="special-edition.html">
					<span class="pt">Edição Especial</span>
					<span class="en">Special Edition</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a class="transition @@awards" href="awards.html">
			<span class="pt">Os Prémios</span>
			<span class="en">The Awards</span>
		</a>
	</li>
	<li>
		<a class="transition @@news" href="news.html">
			<span class="pt">Notícias & Vídeos</span>
			<span class="en">News & Videos</span>
		</a>
	</li>
	<li>
		<a class="transition @@contacts" href="contacts.html">
			<span class="pt">Contactos</span>
			<span class="en">Contacts</span>
		</a>
	</li>
</ul>