@@include('./partials/_head.html')

<body>

  <!--Header-->
  <header class="page-header">
    @@include('./partials/_header.html')
  </header>

  <!--Banner-->
  <div class="row banner-page" id="awards-banner">
    <div class="overlay"></div>
  </div>

  <!--Container-->
  <div class="row main-container">

  <!-- Menu-->
    <div class="col-3 page-menu">
      @@include('./partials/_menu.html', {
        "farm": "",
        "bottle": "",
        "special": "",
        "awards": "active",
        "news": "",
        "contacts": ""
      })
    </div>

  <!--Page Container-->
    <div class="col-9 page-container">

  <!--Page Title-->
      <div class="row page-title">
        <div class="col-12">
          <h1 class="pt">Os Prémios</h1>
          <h1 class="en">The Awards</h1>
        </div>
      </div>

  <!--Page Content-->
      <div class="row page-content">

  <!--Page Content Text-->
        <div class="col-10">
          <div class="col-6 page-column pt">
            <p>Os prémios ganhos nos mais prestigiados concursos, nacionais e internacionais, reconhecem o trabalho desenvolvido.</br>
              São mais um Ponto no Conto do nosso Azeite.</br>
              Têm para nós um sabor muito especial.</br>
              Porque representam o reconhecimento, ao mais alto nível, de muito trabalho e empenho na luta constante pela qualidade.
            </p>
          </div>
          <div class="col-6 page-column en">
            <p>The prizes won in the most prestigious competitions, national and international, recognize the work done.</br>
              Are another point in the Tale of our oil.</br>
              For we have a very special flavor.</br>
              Because they represent recognition at the highest level of hard work and commitment in the constant struggle for quality.</br></br>
            </p>
          </div>
          <div class="col-6 page-column pt">
            <p>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
            </p>
          </div>
          <div class="col-6 page-column en">
            <p>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
              Terra Olivo Competition, Israel, <span>2013<span></br>
            </p>
          </div>
        </div>
  <!--Page Content Images-->
        <div class="col-2 page-side">
        </div>

      </div>
      @@include('./partials/_footer.html')
    </div>
  </div>
  @@include('./partials/_scripts.html')
</body>
</html>