@@include('./partials/_head.html')

<body>

  <!--Header-->
  <header class="page-header">
    @@include('./partials/_header.html')
  </header>

  <!--Banner-->
  <div class="row banner-page" id="bottle-banner">
    <div class="overlay"></div>
  </div>

  <!--Container-->
  <div class="row main-container">

  <!-- Menu-->
    <div class="col-3 page-menu">
      @@include('./partials/_menu.html', {
        "farm": "",
        "bottle": "active",
        "special": "",
        "awards": "",
        "news": "",
        "contacts": ""
      })
    </div>

  <!--Page Container-->
    <div class="col-9 page-container">
  
  <!--Page Title-->
      <div class="row page-title">
        <div class="col-12">
          <h1 class="pt">Garrafa Dórica</h1>
          <h1 class="en">Dórica Bottle</h1>
        </div>
      </div>

  <!--Page Content-->
      <div class="row page-content">

  <!--Page Content Text-->
        <div class="col-10">

          <div class="row">
            <div class="col-6 page-column pt">
              <h3>Origem</h3>
              <p>Quinta Vale do Conde, em S. Pedro de Vale do Conde, Mirandela, no planalto entre as Serras de Passos e de Santa Comba; região reconhecida pela execelência dos seus olivais, com existência confirmada desde o séc. XVI.</p>
            </div>
            <div class="col-6 page-column en">
              <h3>Origin</h3>
              <p>Quinta Vale do Conde, em S. Pedro de Vale do Conde, Mirandela, no planalto entre as Serras de Passos e de Santa Comba; região reconhecida pela execelência dos seus olivais, com existência confirmada desde o séc. XVI.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 page-column pt">
              <h3>Classificação</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            <div class="col-6 page-column en">
              <h3>Classification</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 page-column pt">
              <h3>Olival</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            <div class="col-6 page-column en">
              <h3>Olive Grow</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            </div>
            <div class="row">
            <div class="col-6 page-column pt">
              <h3>Colheita</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            <div class="col-6 page-column en">
              <h3>Harvest</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            </div>
<div class="row">
            <div class="col-6 page-column pt">
              <h3>Elaboração</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            <div class="col-6 page-column en">
              <h3>Elaboration</h3>
              <p>Azeite Virgem Extra <span class="light">(1)</span> DOP (Denominação de Origem Protegida) Trás-os-Montes <span class="light">(2)</span>.</p>
            </div>
            </div>
<div class="row">
            <div class="col-6 page-column pt">
              <h3>Notas de Prova</h3>
              <p>A cor é intensa e límpida, de um amarelo dourado maravilhoso com delicadas matizes de verde brilhante.</br>
              <span class="light">Guia FLOS OLEI 2011</span>
              </p>
            </div>
            <div class="col-6 page-column en">
              <h3>Tasting Notes</h3>
              <p>Beautiful intense limpid golden yellow colour with delicate light green hues.</br>
              <span class="light">Guia FLOS OLEI 2011</span>
              </p>
            </div>
            </div>

<div class="row">
            <div class="col-6 page-column pt">
              <p>Gostaria de saber mais sobre o nosso azeite?</br>Faça o download da Ficha Técnica <a href="#">aqui</a>.</p>
            </div>
            <div class="col-6 page-column en">
              <p>Gostaria de saber mais sobre o nosso azeite?</br>Faça o download da Ficha Técnica <a href="#">aqui</a>.</p>
            </div>
            </div>
        </div>
  <!--Page Content Images-->
        <div class="col-2 page-side">
          <div class="row">
            <img src="img/bottle.png"><span></span>
          </div>
          <div class="row">
            <img src="img/origem-protegida.png"><span>(1)</span>
          </div>
        </div>

      </div>
      @@include('./partials/_footer.html')
    </div>
  </div>
  @@include('./partials/_scripts.html')
</body>
</html>