@@include('./partials/_head.html')

<body>

  <!--Header-->
  <header class="page-header">
    @@include('./partials/_header.html')
  </header>

  <!--Banner-->
  <div class="row banner-page" id="contacts-banner">
    <div class="overlay"></div>
  </div>

  <!--Container-->
  <div class="row main-container">

  <!-- Menu-->
    <div class="col-3 page-menu">
      @@include('./partials/_menu.html')
    </div>

  <!--Page Container-->
    <div class="col-9 page-container">

  <!--Page Title-->
      <div class="row page-title">
        <div class="col-12">
          <h1 class="pt">Contactos</h1>
          <h1 class="en">Contacts</h1>
        </div>
      </div>
 <!--Page Content-->
      <div class="row page-content">

  <!--Page Content Text-->
        <div class="col-5 page-column">
          <p>Sociedade Agrícola do Conde,</br>
          Unipessoal, Lda</p>
          <p>Rua da Igreja nº 113</br>
          S. Pedro Vale do Conde</br>
          5370-160 - Mirandela</br>
          Portugal
          </p>
          </br>
          <p>T.: 00351 278 248747</br>
          TLM.: 00351 966942165</br>
          E-mail: info@quintavaledoconde.pt</br>
          Contacto: Lúcia Gomes de Sá
          </p>
        </div>
        <div class="col-5 page-column">
          <p class="quote pt">Ás vezes,</br>
          não conseguimos ver o seu sorriso,</br>
          mas há uma forma</br>
          de o sentirmos...</p>
          <p class="quote en">Sometimes</br>
          we can't see your smile,</br>
          but there's a way</br>
          of we can feel it...</p>
          </br>
          <a class="button facebook-button" target="_blank" href="https://www.facebook.com/azeitequintavaledoconde"><i class="fa fa-facebook fa-lg"></i>Facebook</a>
        </div>
      </div>

      @@include('./partials/_footer.html')
    </div>
  </div>
  @@include('./partials/_scripts.html')
</body>
</html>