@@include('./partials/_head.html')

<body>

  <!--Header-->
  <header class="page-header">
    @@include('./partials/_header.html')
  </header>

  <!--Banner-->
  <div class="row banner-page" id="news-banner">
    <div class="overlay"></div>
  </div>

  <!--Container-->
  <div class="row main-container">

  <!-- Menu-->
    <div class="col-3 page-menu">
      @@include('./partials/_menu.html', {
        "farm": "",
        "bottle": "",
        "special": "",
        "awards": "",
        "news": "active",
        "contacts": ""
      })
    </div>

  <!--Page Container-->
    <div class="col-9 page-container">

  <!--Page Title-->
      <div class="row page-title">
        <div class="col-12">
          <h1 class="pt">Notícias & Vídeos</h1>
          <h1 class="en">News & Videos</h1>
        </div>
      </div>

  <!--Page Content-->
      <div class="row page-content">

  <!--Page Content Text-->
        <div class="col-4 page-column pt">
          <div class="news">
            <p class="news-details">07/05/2013 em <span>Jornal Público</span></p>
            <h3 class="news-title">MIRUM EST NOTARE...</h3>
            <p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tortor vel odio sagittis euismod sit amet tempus leo. Morbi tincidunt enim justo, sed imperdiet elit ullamcorper laoreet. Mauris porta arcu ut tincidunt euismod. Donec et diam sed urna convallis porta at eu ligula. Vestibulum dui enim, vulputate eget mollis at, mattis at turpis. Pellentesque diam lacus, ornare sit amet ipsum sit amet, euismod suscipit nisl. Curabitur mauris nunc, aliquam eu tincidunt sit amet, cursus vitae ex. Ut erat mauris, efficitur eu dictum luctus, laoreet ac magna. Suspendisse nunc eros, eleifend ut venenatis sit amet, auctor sit amet purus. Phasellus id tristique odio, id pharetra ipsum. Suspendisse lacus est, vehicula nec blandit eget, volutpat ut risus. Proin et orci nec lorem sagittis elementum volutpat vel risus.</p>
            <a class="news-read-more" href="javascript:void(0)">Continuar a ler <i class="fa fa-long-arrow-right"></i></a>
            <a class="news-read-less" href="javascript:void(0)">Menos <i class="fa fa-long-arrow-left"></i></a>
          </div>
          <div class="news">
            <p class="news-details">07/05/2013 em <span>Jornal Público</span></p>
            <h3 class="news-title">MIRUM EST NOTARE...</h3>
            <p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tortor vel odio sagittis euismod sit amet tempus leo. Morbi tincidunt enim justo, sed imperdiet elit ullamcorper laoreet. Mauris porta arcu ut tincidunt euismod. Donec et diam sed urna convallis porta at eu ligula. Vestibulum dui enim, vulputate eget mollis at, mattis at turpis. Pellentesque diam lacus, ornare sit amet ipsum sit amet, euismod suscipit nisl. Curabitur mauris nunc, aliquam eu tincidunt sit amet, cursus vitae ex. Ut erat mauris, efficitur eu dictum luctus, laoreet ac magna. Suspendisse nunc eros, eleifend ut venenatis sit amet, auctor sit amet purus. Phasellus id tristique odio, id pharetra ipsum. Suspendisse lacus est, vehicula nec blandit eget, volutpat ut risus. Proin et orci nec lorem sagittis elementum volutpat vel risus.</p>
            <a class="news-read-more" href="javascript:void(0)">Continuar a ler <i class="fa fa-long-arrow-right"></i></a>
            <a class="news-read-less" href="javascript:void(0)">Menos <i class="fa fa-long-arrow-left"></i></a>
          </div>
        </div>
        <div class="col-4 page-column en">
          <div class="news">
            <p class="news-details">07/05/2013 em <span>Jornal Público</span></p>
            <h3 class="news-title">MIRUM EST NOTARE...</h3>
            <p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tortor vel odio sagittis euismod sit amet tempus leo. Morbi tincidunt enim justo, sed imperdiet elit ullamcorper laoreet. Mauris porta arcu ut tincidunt euismod. Donec et diam sed urna convallis porta at eu ligula. Vestibulum dui enim, vulputate eget mollis at, mattis at turpis. Pellentesque diam lacus, ornare sit amet ipsum sit amet, euismod suscipit nisl. Curabitur mauris nunc, aliquam eu tincidunt sit amet, cursus vitae ex. Ut erat mauris, efficitur eu dictum luctus, laoreet ac magna. Suspendisse nunc eros, eleifend ut venenatis sit amet, auctor sit amet purus. Phasellus id tristique odio, id pharetra ipsum. Suspendisse lacus est, vehicula nec blandit eget, volutpat ut risus. Proin et orci nec lorem sagittis elementum volutpat vel risus.</p>
            <a class="news-read-more" href="javascript:void(0)">Continuar a ler <i class="fa fa-long-arrow-right"></i></a>
            <a class="news-read-less" href="javascript:void(0)">Menos <i class="fa fa-long-arrow-left"></i></a>
          </div>
          <div class="news">
            <p class="news-details">07/05/2013 em <span>Jornal Público</span></p>
            <h3 class="news-title">MIRUM EST NOTARE...</h3>
            <p class="news-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu tortor vel odio sagittis euismod sit amet tempus leo. Morbi tincidunt enim justo, sed imperdiet elit ullamcorper laoreet. Mauris porta arcu ut tincidunt euismod. Donec et diam sed urna convallis porta at eu ligula. Vestibulum dui enim, vulputate eget mollis at, mattis at turpis. Pellentesque diam lacus, ornare sit amet ipsum sit amet, euismod suscipit nisl. Curabitur mauris nunc, aliquam eu tincidunt sit amet, cursus vitae ex. Ut erat mauris, efficitur eu dictum luctus, laoreet ac magna. Suspendisse nunc eros, eleifend ut venenatis sit amet, auctor sit amet purus. Phasellus id tristique odio, id pharetra ipsum. Suspendisse lacus est, vehicula nec blandit eget, volutpat ut risus. Proin et orci nec lorem sagittis elementum volutpat vel risus.</p>
            <a class="news-read-more" href="javascript:void(0)">Continuar a ler <i class="fa fa-long-arrow-right"></i></a>
            <a class="news-read-less" href="javascript:void(0)">Menos <i class="fa fa-long-arrow-left"></i></a>
          </div>
        </div>
        <div class="col-4 page-column page-column-last videos">
          <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4"><img src="img/video-placeholder.png" /></a>
          <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4"><img src="img/video-placeholder.png" /></a>
          <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4"><img src="img/video-placeholder.png" /></a>
        </div>

      </div>

      @@include('./partials/_footer.html')
    </div>
  </div>
  @@include('./partials/_scripts.html')
</body>
</html>